<template name = "adminBodyTemplate">
    {{#momentum plugin='right-to-left'}}
    {{# if isAdmin}}

    {{> photosTemplate}}
        {{else}}

             {{>homeBodyTemplate}}


    {{/if}}
    {{/momentum}}
this is admin!!
</template>




<template name = "photosTemplate">
    <div class="page-header">
        <h1>Admin<small>panel</small></h1>
        <button class = "btn btn-primary" id="insertDummyArticle">Insert Dummy Article</button>
        <div class="table-responsive">
        	<table class="table table-bordered table-hover">
        		<thead>

        			<tr>
                        <th>choose the article</th>
        				<th>Article Title</th>
        			</tr>

        		</thead>
        		<tbody>
                {{#each articles}}


        			<tr>
                        <td id = "articleId"><input type = "radio" name = "articleIdRadio" value = {{_id}}>{{_id}}</td>
        				<td>{{title}}</td>
        			</tr>
                    {{/each}}
        		</tbody>

        	</table>
        </div>
        <table class="table table-bordered table-hover">
        	<thead>
        		<tr>
        			<th>Label</th>
                    <th>your input</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
                    <td>Photo caption</td>
        			<td><input type="type" id="photoCaption"></td>
        		</tr>
                <tr>
                    <td>select your file</td>
                    <td><input type="file" id="fileMe" class="input"></td>
                </tr>

                <tr>

                    <button id ="uploadme" class="btn btn-primary">Uploadme</button>
                    <button id="remove" class="btn btn-danger">Remove</button>
                    <button class="btn btn-primary" id = "setMapping">Set Mapping</button>

                </tr>
        	</tbody>
        </table>


    </div>

    <div class="row">
        {{#each uploads}}
            <div class="btn-separator">

            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 well well-sm">

                <img src="{{url}}" alt="alt-text" class="img-responsive" />
                <div class="checkbox">
                    <label>
                        DO you want to remove this photo??
                        <input type="radio" value="{{_id}}" id="removeCheckbox" name="removeCheckbox">

                    </label>
                </div>
            </div>
            <div class="btn-separator">

            </div>

        {{/each}}
    </div>

</template>