<template name = "homeBodyTemplate">
{{#momentum plugin='fade'}}
    {{#if headerArticle}}

        {{> allArticlesTemplate}}

     {{/if}}

{{/momentum}}
{{#momentum plugin='fade'}}
{{#if showArticle}}
    {{> showArticleTemplate}}

{{/if}}
{{/momentum}}

</template>

<template name = "allArticlesTemplate" >
    {{#if headerArticle}}
    <div class="panel panel-default" >
        <div class="panel-body " >
            {{>headerArticleTemplate}}
            <hr>
            {{> articleTemplate}}
        </div>
        <nav>
            <ul class="pager">
                <li class = ""><a href="#" id="articlePrevious" class = "">Previous</a></li>
                <li class=""><a href="#" id = "articleNext" class="">Next</a></li>
            </ul>
        </nav>
    </div>

{{/if}}
</template>