<template name = "homeFootTemplate">

    <div class="my-footer">
    	&copy; Valekar Company Product

        <div class="row">
        	<div class="col-xs-4 col-sm-5 col-md-5 col-lg-5">

        	</div>

            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">


                        <a href="/about">About Us</a>

                    |

                        <a href="/contact">Contact Us</a>

            </div>
            <div class="col-xs-4 col-sm-5 col-md-5 col-lg-5">
                <span id="siteseal">
                    <script type="text/javascript"
                        src="https://seal.godaddy.com/getSeal?sealID=YRAef0ajmxC6oixGgUIwdYlJFj1AQ5H4i3SRZxB0GqAPKNJ96uApV48lxlm4">

                    </script>
                </span>
            </div>
        </div>




    </div>



</template>