<template name = "homeBodyTemplate">
{{#momentum plugin='fade'}}
    {{#if headerArticle}}

        {{> allArticlesTemplate}}

     {{/if}}

{{/momentum}}


</template>

<template name = "allArticlesTemplate" >
    {{#if headerArticle}}
    <div class="panel panel-default" >
        <div class="panel-body " >
            {{>headerArticleTemplate}}
            <hr>
            {{> articleTemplate}}
        </div>

       <!-- <nav>
            <ul class="pager">

                <li class=""><a href="#" id = "articleNext" class="">Load More Articles</a></li>
            </ul>
        </nav>-->
    </div>
        {{> bookingTemplate}}

{{/if}}
</template>