<template name = "homeBodyTemplate">
{{#momentum plugin='fade'}}
    {{#if headerArticle}}

        {{> featuredTemplate}}
     {{/if}}

{{/momentum}}
{{#momentum plugin='fade'}}
{{#if showArticle}}
    {{> showArticleTemplate}}

{{/if}}
{{/momentum}}

</template>

<template name = "featuredTemplate" >

    <div class="panel panel-default" >
        <div class="panel-body " >
            {{>headerArticleTemplate}}
            <hr>
            {{> articleTemplate}}
        </div>
    </div>


</template>