<!-- THis page is used for the home page display-->

<!--Show the featured article at the home page-->
<template name = "headerArticleTemplate">

                    <div class="panel-body " >

                       <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                           {{#if headerNotImageLoaded  }}
                               <img src="/placeholder.png" class="img-responsive" />
                               {{else}}
                               <img src={{headerArticle.photoUrl}} class="img-responsive"   onerror="this.style.display='none'"/>
                            {{/if}}
                           <div class="post-content">
                                <div class="hidden-xs ">

                                    <a href="/article/{{headerArticle.slug}}" class="my-font"><strong><h1>{{headerArticle.title}}</h1></strong></a>
                                </div>


                           </div>
                       </div>
                       <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                           <div class="hidden-lg hidden-sm">
                               <a href="#" ><strong><h1>{{headerArticle.title}}</h1></strong></a>
                           </div>

                            <p>Summary :: {{{headerArticle.summary}}}</p>
                       </div>
                   </div>






</template>



<!--Shows the list of all articles in the home page-->
<template name = "articleTemplate">


    <div class="panel panel-default">
        {{#each articles}}
        <div class="panel-body">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="{{photoUrl}}" class="img-responsive thumbnail" />
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <a href="/article/{{slug}}" ><strong><h1>{{{title}}}</h1></strong></a>
                <p> {{{content}}} </p>
            </div>
        </div>
            {{/each}}


    </div>

</template>


